
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  
}

body {
  margin: 0;
  background: rgba(255, 255, 255, 1);
}

nav {
  display: flex;
  /* background: white; */
  top: 0;
  height: 70px;
  justify-content: left;
  align-items: center;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
  z-index: 1;
  
}
nav > img{
  height: 25.35px;
  width: auto;
  margin-left: 30px;
}

.heroCard {
  display: flex;

  height: 505px;
  width: 100vh;
  padding: 0;
  margin-top:  70px;
  margin-top: 0;
}
.heroCard > img {
  position: absolute;
  width: 395.91px;
  height: 232px;
  left: 77px;
  top: 96px;
}

.heroCard > h1 {
  position: absolute;
  width: 347px;
  height: 40px;
  left: 36px;
  top: 360px;

  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;

}
.heroCard > p {
  position: absolute;
  width: 320px;
  height: 56px;
  left: 36px;
  top: 416px;
  
  text-align: left;

  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
}

.gray {
  color: #918E9B;
}
.bold {
  font-weight: bold;
}
.card {
  width: 175px;
  font-size: 12px;
}

.card--image {
  width: 100%;
  border-radius: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}